* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Times New Roman', Times, serif;
  /* Navbar */
}
nav {
  position: relative;
  padding: 30px 0;
  z-index: 100;
  animation: navbar 0.7s;
}
.container {
  width: 1024px;
  margin: 0 auto;
}
.navbar-logo {
  float: left;
}
.navbar-logo img {
  width: 150px;
  margin-top: -20px;
}
.navbar-navigation {
  float: right;
}
.navbar-navigation li {
  list-style: none;
  display: inline-block;
  padding: 0 10px;
}
.navbar-navigation a {
  text-decoration: none;
  color: black;
  transition: 0.3s;
}
.navbar-navigation a:hover::after {
  content: '';
  display: block;
  border-bottom: 1px solid #943f33;
  border-bottom-width: 2px;
  width: 50%;
  margin: 0 auto;
}
.navbar-navigation button {
  background-color: #943f33;
  padding: 8px 20px;
  border-radius: 10px;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  cursor: pointer;
  font-weight: 700;
}
.navbar-navigation button:hover {
  background-color: rgb(180, 119, 111);
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}
.navbar-navigation button:active {
  position: relative;
  top: 3px;
}
/* Akhir Navbar */
/* Hero Image */
.hero-image {
  position: relative;
  background-image: url('img/hero-image.png');
  background-attachment: fixed;
  background-size: 100% 100%;
  height: 600px;
  margin-top: -60px;
}
.hero-image::after {
  content: '';
  display: block;
  width: 100%;
  height: 50%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  position: absolute;
  bottom: 0;
  animation: shadow 2s;
}
.intro {
  padding-top: 200px;
  padding-left: 70px;
  opacity: 0.7;
}
.intro h3 {
  font-weight: normal;
  font-size: 32px;
  padding-bottom: 12px;
  color: #943f33;
  animation: intro 0.5s;
}
.intro h1 {
  font-size: 50px;
  margin-left: -110px;
  padding-bottom: 10px;
  animation: intro 0.9s;
}
.intro p {
  font-size: 17px;
  color: #943f33;
  margin-left: -30px;
  animation: intro 1s;
}
.line-hero {
  width: 70%;
  height: 3px;
  margin: 3px auto;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}
/* Akhir Hero Image */

/* Main */
.main {
  padding-top: 7rem;
}
#about-us::after {
  content: '';
  clear: both;
  display: table;
}
.about-tittle {
  float: left;
  width: 35%;
}
#about-us h1 {
  margin-bottom: 10px;
}
#about-us hr {
  width: 20%;
  margin-bottom: 10px;
}
#about-us p {
  font-size: 20px;
}
.about-image {
  background-image: url('img/about-image.png');
  background-size: 100% 100%;
  height: 450px;
  float: right;
  width: 65%;
  margin-top: -100px;
}
.about-image-content {
  margin-top: 50px;
  display: flex;
  margin-bottom: 100px;
}
.content-1 {
  width: 30%;
  background-size: 100% 100%;
  height: 200px;
  background-image: url('img/content-1.png');
}
.content-2 {
  width: 30%;
  background-size: 100% 100%;
  height: 200px;
  background-image: url('img/content-2.png');
}
.content-3 {
  width: 30%;
  background-size: 100% 100%;
  height: 200px;
  background-image: url('img/content-3.png');
}
.content-4 {
  width: 30%;
  background-size: 100% 100%;
  height: 200px;
  background-image: url('img/content-4.png');
}


/* Lanjut Disini */
.contents {
  height: 500px;
  margin-top: 10px;
}
.section-title {
  border-bottom: 2px solid black;
  font-size: 26px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.section-title p {
  font-size: 22px;
}
.contents-item {
  float: left;
  width: 25%;
  padding: 30px 45px;
  position: relative;
  transition: 0.3s;
}
.contents-item:hover {
  background-color: white;
  cursor: pointer;
}
.contents-item img {
  height: 225px;
  width: 162.5px;
  }
.contents-item:hover img{
  opacity: 0.5;
  }
.contents-item p {
  display: block;
  font-size: 10px;
  color: black;
  position: absolute;
  top: 120px;
  left: 75px;
  width: 100%;
  opacity: 0;
  }
.contents-item:hover p{
opacity: 1;
font-size: 20px;
transition: 0.5s;
}
/* Akhir Main */

/* Responsive */
/* Tablet & Desktop */
@media screen and (min-width: 670px) {
  .fa {
    display: none;
  }
}
/* Tablet */
@media screen and (max-width: 1000px) {
  .container {
    width: 700px;
  }
  .navbar-logo img {
    width: 100px;
    margin-top: -15px;
  }
  .intro h3 {
    font-size: 27px;
  }
  .intro h1 {
    font-size: 40px;
    margin-left: -80px;
  }
}
/* Smartphone */
@media screen and (max-width: 670px) {
  .container {
    width: 350px;
  }
  .navbar-navigation {
    display: none;
  }
  .navbar-logo img {
    width: 100px;
    margin-top: -15px;
  }
  .hero-image {
    background-image: url('img/hero-image-mobile.png');
    margin-top: -150px;
  }
  .intro {
    padding-top: 230px;
  }
  .intro h3 {
    font-size: 17px;
  }
  .intro h1 {
    font-size: 25px;
    margin-left: -50px;
  }
  .intro p {
    font-size: 13px;
    margin-left: -40px;
  }
  .fa {
    float: right;
    font-size: 30px;
    margin-right: 10px;
    cursor: pointer;
    color: #943f33;
  }
  .about-tittle {
    float: none;
    width: 100%;
  }
  .about-image {
    margin: 0;
    float: none;
    width: 100%;
    height: 300px;
  }
  .about-image-content {
    display: static;
  }
  .content-1,
  .content-2,
  .content-3,
  .content-4 {
    height: 300px;
    width: 100%;
  }
}
/* Animasi */
@keyframes navbar {
  from {
    top: -200px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes intro {
  from {
    margin-left: -1000px;
  }
  to {
  }
}
@keyframes shadow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* #f6efef */
/* #943f33 */
